<?xml version="1.0"?>

<model>
  <name>piper</name>
  <version>1.0</version>
  <sdf version='1.5'>piper_description.urdf</sdf>

  <author>
    <name>NIRUNPORNPUTHA Weerawit</name>
    <!-- Work based on https://github.com/agilexrobotics/Piper_ros/tree/ros-humble-no-aloha  -->
    <email>nirun.weerawit@gmail.com</email>
  </author>

  <description>
    A description of the AgileX Robotics PiPER
  </description>
</model>